//logo
.site-logo{
    line-height: 50px;
    display: inline-block;
    img{
//        max-height:42px;
    }
}
.site-title{
    font-size: 30px;
    padding-top: 15px;
    margin: 0;
    a{
        color: $color-title;
    }
}
//language
#na-top-navbar{
    .language{
        position: relative;
    }
    #language-switch{
        background: none;
        border: none;

        ul{
            margin-top: 0;
            background: $topbar-bg;
            border-radius:0;
            box-shadow: none;
            padding: 0;
            > li{
                border-top:$topbar-border-color;
                list-style:none;
                float: none;
                color: $topbar-color;
                border-left:none ;
                border-right:none ;
                a{
                    display: inline-block;
                }
                span{
                    color: $topbar-color;
                    cursor: pointer;
                    &:hover{
                        color: $theme-color;
                    }
                }
            }
        }
        img{
            @include rtl-margin-right(5px);
        }
        .fa{
            @include rtl-margin-left(5px);
        }
        .icl_lang_sel_translated{
            display: none;
        }
    }
}
.woocommerce-currency-switcher{
    display: none;
    height: 0;
}

.wrap-select-currency,.wrap-select-country{
  position: relative;
  &:after{
    background:transparent;
    color: $topbar-color ;
    content: "\f107";
    font-family: "FontAwesome";
    height: 100%;
    line-height: 26px;
    pointer-events: none;
    position: absolute;
    @include rtl-right(0);
    text-align: center;
    top: 0;
    width: 10px;
    font-size: 14px;
  }
}
.currency_switcher{
  .woocommerce-currency-switcher {
    background: none;
    border: none;
    @include  rtl-margin-right(10px);
  }
  .woocommerce-currency-switcher-form{

    .dd-pointer{
        display: none !important;
    }
    .dd-select{
      background: none !important;
      border: none;
    }
    .dd-desc{
      display: none;
    }
    .dd-selected{
      padding: 0 ;
      width: 40px;
      line-height: 24px;
    }
    .dd-selected-text,.dd-option-text{
        color: $topbar-color ;
        margin: 0;
        text-transform: capitalize;
        font-weight: 400 !important;
        cursor: pointer;
        font-size: 12px;
        &:hover{
            color: $theme-color;
        }
    }
    .dd-options{
      position: absolute;
      width: 95px !important;
      top:32px;
      @include rtl-left(-20px);
      box-shadow:none;
      background: $topbar-bg;
      border: $topbar-border-color;
      li{
        display: block;
        width: 100%;
        float: none;
        border-left: none !important;
        border-bottom: $topbar-border-color;
        &:last-child{
          border-right: none !important;
        }
      }
      a{
        background: none;
        border-bottom: none;
      }
    }
  }
}
//cart ==================
.na-cart{
    .mini-cart{
        @include  rtl-padding-left(20px);
    }
    .icon-cart{
        position: relative;
        z-index: 1;
        display: block;
        color:$icon-bar ;
        .mini-cart-items{
            background: $theme-color;
            border-radius: 50%;
            color: #fff !important;
            font-size: 12px;
            height: 20px;
            line-height: 22px;
            padding: 0 5px;
            position: absolute;
            right: 15px;
            text-align: center;
            top: -5px;
            width: 20px;
        }
    }
    .group-mini-cart{
        position: relative;
        overflow: hidden;
        display: none;
    }
    .total{
        padding:15px 0px;
        border-bottom: $border-color-base;
        border-top: $border-color-base;
        .amount{
            color: $color-title;
            font-size: 18px;
            line-height: 30px;
        }
    }
    .quantity{
        margin: 0;
    }
}
//widget cart ==========================================================================================================
.icon-cart{
    font-size: 24px;
}
.cart-panel{
    padding: 0px 15px;
    min-width: 300px;
    background: #fff none repeat scroll 0 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: start;
    position: fixed;
}
.cart-panel-title{
    display: block;
    padding-top: 50px;
    padding-bottom: 15px;
    overflow: hidden;
    border-bottom: 1px solid #e9e9e9;
}
#cart-panel-loader.show {
    visibility: visible;
    +*{
        opacity: 0;
        visibility: hidden;
    }
}
.icon-cart{
    cursor: pointer;
}
#cart-panel-loader {
    visibility: hidden;
    padding: 30px 0;
    position: absolute;
    left: 50px;
    top: 70px;

    >*{
        font-size: 16px;
        position: relative;
        &:before{
            animation: 0.8s ease 0s normal none infinite running dotFade;
            background: $theme-color none repeat scroll 0 0;
            border-radius: 50%;
            color: $theme-color;
            content: "";
            height: 15px;
            left: -30px;
            position: absolute;
            top: 0;
            width: 15px;
        }
    }
}
@keyframes dotFade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.cart-header{
    position: absolute;
    width: 100%;
    background: #FFF;
    left:0;
    padding: 0 15px;
    .mycart{
        font-size: 18px;
        color: $color-title;
    }
    .close{
        font-size: 14px;
        color: #4a4a4a;
        opacity: 1;
        font-weight: 400;
        line-height: 26px;
        text-transform: lowercase;
        &:hover{
            color: $theme-color;
        }
    }
}
.cart-bottom{
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    background: #FFF;
    padding: 0 15px;
    .buttons{
        margin: 30px 0;
    }
}

.cart-box{
    background: #fff none repeat scroll 0 0;
    opacity: 1;
    position: fixed;
    right: 0;
    top: 0;
    visibility: visible;
    z-index: 999;
    height: 100%;
    border-radius: 0;
    width: 300px;
    border-left: 1px solid #e9e9e9;
    @include transition(0.5s);
    @include rtl-right(0);
    transform: translateX(320px);
    -webkit-transform: translateX(320px);
    -ms-transform: translateX(320px);
    -o-transform: translateX(320px);
    .empty{
        border: none !important;
    }
}
.product-remove{
    vertical-align: middle;
    text-align: center;
    a {
        width: 24px;
        height: 24px;
        font-size: 20px;
        border-radius: 100%;
    }
}

.cart_list{
    margin: 100px 0 145px;
    list-style: none;
    overflow-y: auto;
    //visibility: hidden;
    .product_list_widget{
        visibility: visible;
        padding: 0;
        margin-top: 10px;
    }
    .empty{
        line-height: 24px;
        border-bottom: none;
        padding-bottom: 0;
    }
    li{
        position: relative;
        display: block;
        border-bottom: $border-color-base;
        padding-bottom: 15px;
        @include clearfix;
        .cart-image{
            width: 30%;
            padding-right: 10px;
            float: left;
        }
        .cart-main-content{
            width: 70%;
            float: left;
        }
        .name{
            margin: 0;
            padding: 0;
            padding-right: 20px;
            a{
                font-size: 14px;
            }
        }
        .cart-item{
            display:block;
            line-height: 24px;
            margin: 0;
            padding: 0;
            padding-top: 5px;
            vertical-align: top;
            .amount{
                float: right;
            }
        }
        .remove{
            float: right;
            text-align: right;
            font-size: 12px;
            line-height: 20px;
            position: absolute;
            top:0;
            right:0;
        }
    }
    .wp-post-image{
        width: 80px !important;
        height: 100%;
    }
    .variation{
        dt{
            display: inline-block;
            font-weight: 400;
            font-size: 12px;
            line-height: 10px;
            color:#a3a39b;
        }
        dt + dd{
            display: inline-block;
            font-size:12px;
            line-height: 10px;
            color:#a3a39b;
            >*{color:#a3a39b;}
        }
    }
}
.cart-bottom{
    strong{
        float: left;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        text-transform: uppercase;
    }
    .mini-cart-subtotal{
        display: inline-block;
        float: right;
        line-height: 20px;
    }
}

.btn-viewcart{
    @include rtl-margin-right(5px);
}
.cart-box-open{
    .cart-box{
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        z-index: 10000;
    }
    .canvas-overlay.show{
        background-color: rgba(0, 0, 0, 0.4);
        height: 100%;
        position: fixed;
        width: 100%;
        z-index: 998;
        opacity: 1;
        visibility: visible;
        cursor: pointer;
    }
    .is-sticky #ri-header{
        &:after{
            content:"";
            background-color: rgba(0, 0, 0, 0.4);
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 999;
        }
    }
}
//.menu-overlay .canvas-overlay{
//    background-color: rgba(0, 0, 0, 0.4);
//    height: 100%;
//    position: fixed;
//    width: 100%;
//    z-index: 998;
//    opacity: 1;
//    visibility: visible;
//    cursor: pointer;
//}

.btn-viewcart{
    @include rtl-margin-right(5px);
}



.country_select{
    >*{
        line-height: 30px;
    }
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea{
    width: 100%;
    border: $border-color-base;
    padding: 5px 10px;
}
.select2-container .select2-choice{
    border:1px solid #ebebeb;
}
.woocommerce table.shop_table {
    margin: 0 -1px 24px 0;
    @include  rtl-text-align-left;
    width: 100%;
}
.select2-container .select2-choice{
    border-radius: 0;
    padding:5px;
    line-height: 24px;
    height: 36px;
}
.f-coupon-code{
    width: 240px;
    display: inline-block;
}

//breadcrumb
.wrap-breadcrumb-cover{
    position: relative;
    overflow: hidden;
    text-align: center;
    max-height: 400px;
    .breadcrumb{
        background: transparent;
        margin-bottom: 10px;
        padding-top: 15px;
    }
}
.breadcrumb-cover{
    position: relative;
    width: 100%;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.group-cover{
    height: 100%;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 10;
    background: rgba(33, 33, 33, 0.6);
    &:before {
        content: "";
        display: inline-block;
        height: 100%;
        margin-right: -0.25em;
        vertical-align: middle;
    }
    .title-page{
        font-size: 24px;
        color: $white;
        letter-spacing: 2px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .cover-inner{
        display: inline-block;
        max-width: 80%;
        position: relative;
        vertical-align: middle;
        text-transform: capitalize;
        color: #fefefe;
    }
    a{
        color: #fefefe;
        &:hover{
            color: $white;
        }
       &:after{
           content: "/";
           font-size: 14px;
           color: #fefefe;
           margin-left:15px;

       }
    }
    .breadcrumb-cover{
        width: 100%;
    }
}
//navigation
.screen-reader-text{
    display: none;
}
.nav-links{
  a,span{
    width: 40px;
    height: 40px;
  }
}
.navigation.pagination {
    margin-top: 15px;
}
.pagination{
    display: block;

    clear: both;
    @include clearfix();
    margin: -1px 0 0;
    text-align: center;
    .page-numbers{
        background:$theme-color;
        color: $white;
        line-height: 40px;
        background: #FFF;
        border-radius:50%;
        border: none;
        display: inline-block;
        padding: 0;
        &:hover span{
          color:#5EBDC7;
          -webkit-transition: 0.4s;
          -o-transition: 0.4s;
          transition: 0.4s;
        }
        @include rtl-margin-right(5px);
        color: $theme-color;
        &:hover{
            color: #5EBDC7;
        }
    }
    .current,span.current{
        background:$theme-color;
        color: $white;
        width: 40px;
        height: 40px;
        box-shadow: none;
    }
    >li{
        display: inline-block;
    }
    > li:first-child > a, > li:first-child > span{
        border-radius:50% !important;
    }

}
.image-pagination{
    .page-numbers{
        &:hover{
            border: none !important;
            background:none !important;
        }
        padding: 0;
        border: none;
    }
}
.page-links{
    padding-top: 30px;
    .page-links-title{
        font-size: 14px;
        color: #757575;
        font-weight: 500;
        text-transform: uppercase;
        @include rtl-padding-right(30px);
    }
    span.page-numbers{
        width: 40px;
        height: 40px;
        line-height: 40px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        background: $theme-color;
        border-radius: 50%;
        border: none;
        display: inline-block;
        padding: 0;
        margin-right: 5px;
        color: #fff;
        @include rtl-margin-right(5px);
        text-align: center;
        &:hover{
            color: #FFF;
            background:$theme-color ;
            border-color:$theme-color ;
        }
    }
    a > span.page-numbers{
        background: #FFF;
        color:$theme-color ;
    }
}
//calendar
#calendar_wrap{
    padding-bottom: 0;

    #wp-calendar{
        border: 1px solid #dddddd;
    }
    #today{
        background:$theme-color;
        color: $white;
    }
    thead{
        background: #FAFAFA;
    }
    td{
        padding: 8px;
        text-align: center;
    }
    table > thead > tr > th,
    table > tbody > tr > th,
    table > tfoot > tr > th{
        padding: 10px;
    }
}
.table-striped > tbody > tr:nth-of-type(2n+1){
    background: #FFF;
}
.table-striped{
    ul li{
        display: inline-block;
        margin: 0;
    }
    ul{
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .wide-custom-simple{
        text-align: left;
        .att_label{
            text-align: center;
            line-height: 30px;
            color: $black;
            font-weight: 400;
        }
    }
    .att_img,.att_label,.att_color{
        margin: 0;
    }
}
//tabs
.woocommerce-tabs{
    li.resp-tab-item{
        background: none;
        font-weight: 500;
        font-family:$font-family-once;
        font-size: 18px;
        &.active{
            border-bottom: 1px solid $theme-color;
            color: $theme-color;
            background: none;
            a{
                color: $theme-color;
            }
        }
    }
    ul.resp-tabs-list {
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .resp-tabs-list li {
        display: inline-block;
        padding: 5px 0px;
        margin: 0;
        list-style: none;
        cursor: pointer;
        margin-right: 30px;
        a{
            color: $color-title;
            &:hover{
                color: $theme-color;
            }
        }
    }
    .resp-tabs-container {
        padding: 0;
        clear: left;
    }
    .resp-tab-content {
        padding: 15px;
    }
    .resp-tab-active {
        border-bottom: none;
        margin-bottom: -1px !important;
    }
    .resp-tab-active {
        border-bottom: none;
        background-color: #fff;
    }
    .resp-content-active, .resp-accordion-active {
        display: block;
    }
}

//Category
.expand-icon {
    display: block;
    height: 10px;
    position: relative;
    width: 10px;
}
.expand-icon::after, .expand-icon::before {
    background: #212121 none repeat scroll 0 0;
    content: "";
    display: block;
    position: absolute;
}
.expand-icon:hover::after, .expand-icon:hover::before {
    background: $theme-color none repeat scroll 0 0;
}
.expand-icon::after {
    height: 100%;
    left: calc(50% - 1px);
    top: 0;
    width: 2px;
}
.expand-icon::before {
    height: 2px;
    left: 0;
    top: calc(50% - 1px);
    width: 100%;
}
.triggernav.active .expand-icon::after {
    display: none;
}
.availability,.text-share{
    color:$color-title ;
    font-size: $font-size-base;
    font-weight: 500;
}
.alert{
    border-style:dashed;
    border-color: #cbcbcb;
    &.alert-success{
        background: none;
        color: $font-color;
        border-color: #e5e5e5;
        .close{
            display: none;
        }
    }
    .button{
        float: right;
        margin-top: -6px;
        font-weight: 500;
    }
    a{
        color: $theme-color;
        &.button{
            color: $white;
        }
    }

}


.widget  .product-categories span.triggernav {
    float: right;
    padding: 5px;
}
.widget  .product-categories .unvisible {
    height: 0 !important;
}
.widget .product-categories .children {
    display: list-item;
    overflow: hidden;
    transition: all 300ms ease 0s;
}
.contact-maps iframe{
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -o-filter: grayscale(1);
    -o-filter: grayscale(1);
}
.wpb_single_image{
    margin: 0!important;;
}

.panel{
    border-radius: 3px;
    background: none;
    .shop_tables{
        border: none;
        background: none;
    }
}
.panel{
    border: none;
    .panel-heading{
        background: none !important;
        padding: 10px 0;
    }
}
